<div class="form">
  <h1>Edit artist</h1>
  <form action="/teachers/<%=@teacher.slug%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" required value="<%=@teacher.name%>"><br>
      <label>Bio</label>
      <textarea type="text" class="form-control" name="bio" rows="6"><%=@teacher.bio%></textarea><br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <p><form action="/teachers/<%=@teacher.slug%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Teacher">
  </form></p>
</div>
