<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses!!!</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/stylesheets/main.css">

  </head>
  <body>
    <header>
      <a id="brand" href="/"><h1>Courses!!!</h1></a>
      <ul>
        <li><a href="/teachers">Teachers</a></li>
        <% if logged_in? %>
          <li><a href="/users/<%=current_user.id%>">Account</a></li>
          <li><a href="/logout">Logout</a></li>
        <% else %>
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Sign up</a></li>
        <% end %>
      </ul>
    </header>
    <br>

    <%= yield %>
  </body>
</html>
